<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="home" href="home">
			<ion-icon aria-hidden="true" name="triangle"></ion-icon>
			<ion-label i18n="@@menu_home">_</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="tab2" href="tab2">
			<ion-icon aria-hidden="true" name="ellipse"></ion-icon>
			<ion-label i18n="@@menu_tab2">_</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="tab3" href="tab3">
			<ion-icon aria-hidden="true" name="ellipse"></ion-icon>
			<ion-label i18n="@@menu_tab3">_</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
