:host {
	display                 : block;
	padding                 : 20px;
	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;
}

h1 {
	font-size      : 3.125rem;
	font-weight    : 500;
	line-height    : 100%;
	letter-spacing : -0.125rem;
	margin         : 0;
	font-family    : Helvetica, Arial, sans-serif;
}

a:hover {
	text-decoration : underline;
}
